$red:#EA1C24;
$black:#292929;
$gray:#4C4C4C;


@mixin miniTablet-Logo {
    @media(min-width:600px) and (max-width:700px) {@content;}
}

@mixin Tablet-Logo {
    @media(min-width:700px) and (max-width:899px) {@content;}
}

@mixin Tablet  {
    @media(min-width:600px)and (max-width:899px) {@content;}
}

@mixin Desktop1 {
    @media(min-width:900px) and (max-width:1290px) {@content};
}

@mixin Desktop2 {
    @media(min-width:1291px) {@content}
}

        .fpm-vocarski-mulcari-img {
            background: url('./../../JM/Vocarstvo/Mulceri/VocarskiMulcari.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:130px;
            height:82px;
            margin:0 auto;
            background-position-x: -.3rem;

           // 600-700px
           @include miniTablet-Logo() {
            width:140px;
            height:92px;
            margin:0 auto;
            background-position-x: -.3rem;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:140px;
            height:92px;
            margin:0 auto;
            background-position-x: -.3rem;
        }


        @include Desktop1() {
            width:200px;
            height:100px;
            
        }

        @include Desktop2() {
            width:200px;
            height:100px;
        }
        }

        .fpm-ratarski-mulcari-img {
            background: url('./../../JM/Vocarstvo/Mulceri/RatarskiMulcari.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:130px;
            height:62px;
            margin:0 auto;
            background-position-x: .2rem;

            // 600-700px
            @include miniTablet-Logo() {
                width:150px;
                height:82px;
                margin:0 auto;
                background-position-x: .2rem;
                
            }

            // 700-899px
            @include Tablet-Logo() {
                width:200px;
                height:100px;
            }

    
            @include Desktop1() {
                width:200px;
            height:100px;
                
            }

            @include Desktop2() {
                width:200px;
            height:100px;
            } 
        }

        .mulcer-mks-plus-img {
            background: url('./../../JM/Vocarstvo/Mulceri/INO-MKS-190.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:135px;
            height:82px;
            margin:0 auto;

                 // 600-700px
                @include miniTablet-Logo() {
                    width:135px;
                    height:82px;
                    margin:0 auto;
                }

                // 700-899px
                @include Tablet-Logo() {
                    width:135px;
                    height:82px;
                    margin:0 auto;
                }

        
                @include Desktop1() {
                    width:200px;
                    height:100px;
                    
                }

                @include Desktop2() {
                    width:200px;
                    height:100px;
                }
        }


        .mulcer-mkm-img {
            background: url('./../../JM/Vocarstvo/Mulceri/INO-MKM.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:135px;
            height:82px;
            margin:0 auto;

            // 600-700px
            @include miniTablet-Logo() {
                width:135px;
            height:82px;
            margin:0 auto;
            }

            // 700-899px
            @include Tablet-Logo() {
                width:135px;
            height:82px;
            margin:0 auto;
            }

    
            @include Desktop1() {
                width:160px;
                height:100px;
                
                
            }

            @include Desktop2() {
                width:160px;
                height:100px;
            }

        }

        .mulcer-mkl-img {
            background: url('./../../JM/Vocarstvo/Mulceri/INO-MKL.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:135px;
            height:100px;
            background-position-y: -3rem;
            margin:0 auto;
            
            

           // 600-700px
           @include miniTablet-Logo() {
            width:135px;
            height:100px;
            background-position-y: -3rem;
            margin:0 auto;
            margin-bottom:-1.1rem;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:135px;
            height:100px;
            background-position-y: -3rem;
            margin:0 auto;
            margin-bottom:-1.1rem;
        }


        @include Desktop1() {
            width:160px;
                height:100px;
            
        }

        @include Desktop2() {
            width:160px;
                height:100px;
        }

        }

        .mulcer-frost-img {
            background: url('./../../JM/Vocarstvo/Mulceri/INO-FROST.png');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:135px;
            height:100px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:135px;
            height:100px;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:135px;
            height:100px;
        }


        @include Desktop1() {
            width:150px;
            height:110px;
            
        }

        @include Desktop2() {
            width:150px;
            height:110px;
        }
        }

        .mulcer-elite-img {
            background: url('./../../JM/Vocarstvo/Mulceri/INO-ELITE.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:135px;
            height:50px;
            margin:0 auto;
            margin-top:3.1rem;

           // 600-700px
           @include miniTablet-Logo() {
            width:135px;
            height:50px;
            margin:0 auto;
            margin-top:3.1rem;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:135px;
            height:50px;
            margin:0 auto;
            margin-top:3.1rem;
        }


        @include Desktop1() {
            width:200px;
            height:90px;
            margin-top:1.2rem;
        }

        @include Desktop2() {
            width:200px;
            height:90px;
            margin-top:1.2rem;
        }
        }

        .mulcer-elite-l-img {
            background: url('./../../JM/Vocarstvo/Mulceri/INO-ELITE-L.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:115px;
            height:90px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:135px;
            height:120px;
            margin:0 auto;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:135px;
            height:120px;
            margin:0 auto;
        }


        @include Desktop1() {
            width:135px;
            height:120px;
            margin:0 auto;
            
        }

        @include Desktop2() {
            width:135px;
            height:120px;
            margin:0 auto;
        }
        }

        .mulcer-mmt-img {
            background: url('./../../JM/Vocarstvo/Mulceri/INO-MMT.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:250px;
            height:200px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:300px;
            height:220px;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:230px;
            height:180px;
        }


        @include Desktop1() {
            width:250px;
            height:200px;
            
        }

        @include Desktop2() {
            width:200px;
            height:150px;
        }
        }


        .vuceni-atomizeri-img {
            background: url('./../../JM/Vocarstvo/Atomizeri/vuceni-atomizeri-1.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:140px;
            height:92px;
            margin:0 auto;

            @include miniTablet-Logo() {
                width:140px;
            height:92px;
            margin:0 auto;
            }
    
            // 700-899px
            @include Tablet-Logo() {
                width:140px;
            height:92px;
            margin:0 auto;
            }
    
    
            @include Desktop1() {
                width:200;
                height:120px;
                
            }
    
            @include Desktop2() {
                width:200;
                height:120px;
            }
        }

        .noseni-atomizeri-300-400-img {
            background: url('./../../JM/Vocarstvo/Atomizeri/Noseni-atomizeri-300-400.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:140px;
            height:92px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:140px;
            height:92px;
            margin:0 auto;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:140px;
            height:92px;
            margin:0 auto;
        }


        @include Desktop1() {
            width:200;
                height:120px;
            
        }

        @include Desktop2() {
            width:200;
                height:120px;
        }
        }

        .noseni-atomizeri-330-440-img {
            background: url('./../../JM/Vocarstvo/Atomizeri/Noseni-atomizeri-330-440.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:140px;
            height:92px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:140px;
            height:92px;
            margin:0 auto;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:140px;
            height:92px;
            margin:0 auto;
        }


        @include Desktop1() {
            width:200;
                height:120px;
            
        }

        @include Desktop2() {
            width:200;
                height:120px;
        }
        }

        .vuceni-atomizeri-k-img {
            background: url('./../../JM/Vocarstvo/Atomizeri/Vuceni-atomizeri-K');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:140px;
            height:102px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:140px;
            height:102px;
            margin:0 auto;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:140px;
            height:102px;
            margin:0 auto;
        }


        @include Desktop1() {
            width:200;
                height:120px;
        }

        @include Desktop2() {
            width:200;
                height:120px;
        }
        }

        .vuceni-atomizeri-inox-img {
            background: url('./../../JM/Vocarstvo/Atomizeri/Vuceni-atomizeri-inox.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:140px;
            height:102px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:300px;
            height:220px;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:140px;
            height:102px;
            margin:0 auto;
        }


        @include Desktop1() {
            width:200;
                height:120px;
        }

        @include Desktop2() {
            width:200;
            height:120px;
        }
        }

        .noseni-atomizeri-e-img {
            background: url('./../../JM/Vocarstvo/Atomizeri/noseni-atomizeri-e.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:130px;
            height:132px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:130px;
            height:132px;
            margin:0 auto;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:130px;
            height:132px;
            margin:0 auto;
        }


        @include Desktop1() {
            width:110px;
            height:120px;
            margin:0 auto;
        }

        @include Desktop2() {
            width:110px;
            height:120px;
            margin:0 auto;
        }
        }

        .noseni-atomizeri-s-img {
            background: url('./../../JM/Vocarstvo/Atomizeri/Noseni-atomizeri-s.jpg');
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            width:130px;
            height:132px;
            margin:0 auto;

           // 600-700px
           @include miniTablet-Logo() {
            width:130px;
            height:132px;
            margin:0 auto;
        }

        // 700-899px
        @include Tablet-Logo() {
            width:130px;
            height:132px;
            margin:0 auto;
            
        }


        @include Desktop1() {
            width:130px;
            height:132px;
            margin:0 auto;
            
        }

        @include Desktop2() {
            width:130px;
            height:132px;
            margin:0 auto;
        }
    }

    .busaci-rupa {
        background: url('./../../JM/Vocarstvo/Busaci/megaing.jpg');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        width:130px;
        height:132px;
        margin:0 auto;

       // 600-700px
       @include miniTablet-Logo() {
        width:130px;
        height:132px;
        margin:0 auto;
    }

    // 700-899px
    @include Tablet-Logo() {
        width:130px;
        height:132px;
        margin:0 auto;
        
    }


    @include Desktop1() {
        width:130px;
        height:132px;
        margin:0 auto;
        
    }

    @include Desktop2() {
        width:130px;
        height:132px;
        margin:0 auto;
    }
}
        
